html {
    background-color: var(--colors-background-dark);
    color: var(--colors-text-dark);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}