:root {
    --colors-background-light: #FFF;
    --colors-background-dark: #414141;
    --colors-background-gray: #9F9F9F;
    --colors-main: #276BD2;
    --colors-content-light: #EAE9E9;
    --colors-content-dark: #2F2F2F;
    --colors-text-light: #000;
    --colors-text-dark: #EAE9E9;
    --colors-text-hover: #276BD2;

    --font-header: 3rem;
    --font-header2: 2rem;
    --font-header3: 1.5rem;
    --font-header4: 1rem;
    --font-paragraph: 0.75rem;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

html, body { color:#fff; font-family:'Poppins',sans-serif; }
* { margin:0; padding:0; border:0; }

html { background:#414141; }

/* `bezochte links  */
a, a:visited { color:#fff; text-decoration:none; }
a:hover { color:#b7bcc2; }

/* Font Awesome  */
.fa-solid, .fas { font-family:"Font Awesome 6 Free" !important; font-weight:900 !important; }
.fa-regular, .far { font-family:"Font Awesome 6 Free" !important; font-weight:400 !important; }
.fa-brands, .fab { font-family:"Font Awesome 6 Brands" !important; }

